@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* 
COLOR PALETTES: 60-30-10

Primary color:
Secondary color: 
Accent 1: #1d98de
Accent 2: 
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html{
  font-size: 62.5%;  
} 

body{
    /* background-color: blue;*/
    font-family: 'Lato', sans-serif;
} 

.header{
    height: 100vh;
    background-image: url(../images/notebook-1971495_1920.jpg);
    position: relative;
    background-size: cover;
}

.header__nav{
   
    width: 100%;
    background-color: #000000ca;
    color: #fff;
    padding: 1rem 1rem 1rem 2.5rem;
    display: flex;
   
}


    
ul li{  
    position: relative; 
    padding:1rem; 
    list-style-type: none;
    float: left;
    font-size: 2rem;
}

.header__heading{
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #000000ac;
    display: inline-block;
    text-align: left;
    color: #fff;
    padding: 2% 2% 2% 1%;
    border-radius: 1%;
}

span{
    display: block;
}

.header__heading h1{
  padding:0 1% 0 0;
  line-height: 120%;
  font-size: 5rem;
}

/* h1{
    font-size: 3rem;
    line-height: 120%;
} */

/* h2{
    font-size: 40px;
    
} */

h3{
    line-height: 130%;
    font-size: 2.5rem;
   padding: 1%;
}

p{
    width: 80%;
    /* background-color: red; */
    line-height: 120%;
    padding: 2% 0;
    font-size: 1.6rem;
}
 
/* .header__btn{
 border-radius: 5%;
 background-color:#1d98de;
} */


.header__btn--accent1{
  background-color:green;
  position: absolute;
  top: 68%;
  left: 73%;
  background-color: #1d98de;
  padding: 1% 4.5%;
  color: rgb(238, 237, 237);
  border: 0;
  font-weight: 700;
  font-size: 3rem;
  border-radius: 1.5rem 1.5rem;
  /* text-transform: uppercase; */

}

